<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.tmapi.dao.master.ItemsDao">

    <select id="queryByCond" resultType="com.example.tmapi.entity.Items" parameterType="com.example.tmapi.entity.Items">
        SELECT
            i.StoreID as StoreID,
            i.ReceiptID as ReceiptID,
            i.GoodsID as GoodsID,
            SUM (i.RecQty) AS qty
        FROM
            Items i
        right JOIN (
            SELECT
                StoreID,
                ReceiptID
            FROM
                Manifest
            WHERE
                OrdDate >= #{items.OrdDate}
            GROUP BY
                StoreID,
                ReceiptID
        ) b ON b.StoreID = i.StoreID
        AND b.ReceiptID = i.ReceiptID
        where i.StoreID !=''
        GROUP BY
            i.StoreID,
            i.ReceiptID,
            i.GoodsID
         ORDER BY  qty desc

    </select>

    <select id="queryByDate" resultType="com.example.tmapi.entity.Items" parameterType="com.example.tmapi.entity.Items">
        SELECT
            i.StoreID,
            s.StoreName as StoreName,
            i.GoodsID,
			left(g.KindCode,2) as KindCode,
			g.BarCode as BarCode,
            left(g.Name,8) as Name,
            g.Price as Price,
            sum(i.RecQty) as RecQty,
          sum(i.RecQty*i.BuyPrice) as CBAmount
        FROM
            Items i,
            Manifest m,
            Stores s,
            Goods g,
            Stock st
        WHERE
            s.StoreID = i.StoreID
        and st.StoreID = i.StoreID
        and st.GoodsID = i.GoodsID
        and st.Quantity >0
        AND i.StoreID = m.StoreID
        AND i.ReceiptID = m.ReceiptID
        AND s.Type = 1
        AND m.RecCheckDate = #{items.date}
        AND m.Amount >= 0
        AND i.GoodsID = g.GoodsID
        AND i.RecQty > 0
        GROUP BY i.StoreID,
            s.StoreName ,
            i.GoodsID,
            g.Name ,
            g.KindCode,
						g.BarCode,g.Price
        ORDER BY i.StoreID asc ,G.KindCode asc  ,CBAmount desc

    </select>





</mapper>