<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.tmapi.dao.master.StoresDao">

    <select id="queryByCond" resultType="com.example.tmapi.entity.Stores">
        select * from Stores where storeId=#{storeId}
    </select>

</mapper>